# Logistic Regression in Python

## Logistic Regression
![alt text](logistic_regression.png)

## Linear Regression vs Logistic Regression 
![alt text](logistic_regression2.jpg)

In [1]:
import pandas as pd

In [7]:
# Reading and displaying the data
df = pd.read_csv("Social_Network_Ads.csv")
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [8]:
# Dropping irrelevant columns 
# We are dropping the "User ID" column because it does not add any valuable insight and removing it will not affect our results
df.drop(["User ID"], axis = 1).values


# Replacing strings to numbers
df = df.replace("Male", 1)
df = df.replace("Female", 2)

df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       2   26            43000          0
3  15603246       2   27            57000          0
4  15804002       1   19            76000          0

In [9]:
# train test split
from sklearn.model_selection import train_test_split


# These columns will be used as predictors
X = df.drop(["Purchased"], axis = 1).values
y = df["Purchased"].values

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0, test_size = 0.15)

In [10]:
# Scaling the data
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [11]:
# Fitting the data to the Logistic Regression Model
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train, y_train)

print(model.score(X_test, y_test))

0.9333333333333333